
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.row{}

.content{height: 100px;
    background: #007bffd1;
    color: white;
    font-size: 17px;
    margin-bottom: 1px
    
   
}
.padding{padding-left: 0;
    padding-right: 1.5px;
    padding-bottom: 1.5px;
}
